{% extends "favmovie\basic.html" %}

</head>
<body>
  {% block body %}
   <div class="navbar navback ">
    <nav class="navbar navbar-expand-lg    ">
        <div class="container-fluid  ">
          <a class="navbar-brand" href="/">Nibodh</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/course">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/course/list">course list</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/urfavmovie/favlist">Favourite movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/urfavmovie/contactus">Contact Us</a>
              </li>
              <li class="nav-item">
                
               <a class="nav-link" href="/blog/bloglist" class="btn btn-danger" >blog</a>
              </li>
              
              
              
            </ul>
          </div>
        </div>
      </nav>
    </div>

     {% endblock body %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>