<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Forms</title>
</head>
<body>
    <div class="container  " style="background:rgb(0, 153, 255);">
    <form action="showname" method="GET">
      <h1 style="text-align: center;">CONTACT FORM</h1>

        
            <p>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" name="name"> 
                  </div>

                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">surname</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="surname" name="surname"> 
                  </div>
            </p>
            
              
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">phone number</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="phone number" name="phone_number"> 
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email_address" placeholder="email">
            
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="Password" placeholder="password">
            </div>
            
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Date_Of_Birth</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Date_Of_Birth"  name="Date_Of_Birth"> 
              </div>
              
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Favourite Youtube Video</label>
                <input type="url" class="form-control" id="formGroupExampleInput2" placeholder="URL" name="youtube">
              </div>

             
       
       





            
          


      



<button type="submit" class="" >give data</button>
    </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>