<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="div">
    <h1>YOUR DATA </h1>
        
    <h1> NAME : {{name}}</h1>
   <h1>SURNAME : {{surname}}</h1> 
    <h1>PHONE NUMBER : {{phone_number}}</h1>
    <h1>EMAIL : {{Email_address}}</h1>
   
    <h1>PASSWORD : {{Password}}</h1>
    <h1>DOB : {{Date_Of_Birth}}</h1>
    <a href="{{youtube}}" target="_blank">Video Link</a>
</div>
</body>
</html>